.container {
  background: #000;
  height: 100vh;
}

.dark-mode {
  background: #17181a;
}
.info-link {
  color: #a1a7b2;
}
// @mixin flex-display {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
