.container {
  background: #000;
  height: 100vh;
}

.dark-mode {
  background: #17181a;
}
.info-link {
  color: #a1a7b2;
}

// 加载更多样式
.load_more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_black {
  background: #000;
}

.bg_white {
  background: #fff;
}
